/* clock_style.css */

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #00ffcc;
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock_container {
  text-align: center;
}

.box p {
  font-size: 5vw; /* font size based on width of the viewport */
  margin: 0;
}

#clock_display {
  font-size: 10vw; /* big font for time, scalable */
  font-weight: bold;
  /* letter-spacing: 0.2vw; */
}
